@page
@model RecipeBook.WebApp.Pages.UnRegisted.ViewRecipeModel
@{
}
<button class="btn btn-secondary" onclick="window.history.back()">Go Back</button>
<h1>@Model.Recipe?.Name</h1>



<div>
    <p>creator: @Model.Recipe.UserId.Name</p>
    <p>Preparation Time: @Model.Recipe.PreparetionTime minutes</p>
    <p>Category: @Model.Recipe.CategoryId.Name</p>
    <p>Difficulty: @Model.Recipe.DifficultyId.Name</p>
    <p>Preparation Method: @Model.Recipe.PreparetionMethod</p>

    <h2>Ingredients</h2>
    <ul>
        @foreach (var ingredient in Model.Recipe.RecipeIngredients)
        {
            <li>@ingredient.IngredientId.IngredientName - @ingredient.Quantity @ingredient.MeasureId.Name</li>
        }
    </ul>
</div>

<h3>Comments and Ratings</h3>

<table class="table">
    <thead>
        <tr>

            <th>Comment</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>

                <td>@post.Comment</td>
                <td>@post.Rating</td>
            </tr>
        }
    </tbody>
</table>


